/* General Styles */


:root{
  --black: #333;
  --dirty-green:#616052;
  --white:#ffffff;
}

@media (max-width: 700px) {
  .container-wrapper{
    flex-direction: column;
  }
}


@media (max-width: 480px) {
    /* .skills {
      margin: 10px;
      padding: 8px;
    }
  
    .skill-icon {
      width: 50px;
      margin: 6px;
    } */
  }