/* General Styles */




.skills {
    margin: 30px;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.skills-container {
    display: flex;
    background-color: #e8ebe2;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;  /* Ensures images wrap on smaller screens */
    border-radius: 10px;
}

.skill-icon {
    width: 80px;  /*Adjust size*/
    height: auto;
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    transform: scale(1.1);  /* Small hover effect */
}

@media (max-width: 480px) {
    .skills {
      margin: 10px;
      padding: 8px;
    }
  
    .skill-icon {
      width: 50px;
      margin: 6px;
    }
  }