/* Contact Page Section */
.contact-info {
  margin: auto;
  background-color: #e8ebe2;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  width: 90%;
  margin-bottom: 40px;

}

.contact-contain{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.contact-info h3 {
  font-size: 2rem;
  color: #616052;
}

 .contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  font-size: 1.1rem;
  margin: 10px 0;
} 

.contact-info ul{
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.contact-info a{
  text-decoration: none;
  color: #616052;
}

.contact-info ul li a:hover {
  color: #414039;
}

.contact-info ul li a i {
  font-size: 1.5rem;
}

.text p{
  text-align: center;
}

.contact-info ul{
  margin-top: 50px;
}

.penguin{
  margin: 0;
  padding: 0;
  filter: hue-rotate(-30deg); /* Changes the hue! */
}

  @media (max-width: 500px) {
    .contact-info a .text {
      font-size: 0.8rem;
      display: none !important;
    }
    .penguin {
      width: auto;
      height: 10%; /* You can adjust this percentage based on how small you want it */
      max-width: 100%; /* Optional: This ensures the penguin doesn't stretch beyond its container's width */
    }

    .contact-contain {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
  }

  .contact-info ul{
    display: flex;
  }
  
}

