/* ---------------------------------------
   Contact Page Section
---------------------------------------- */
.contact-info {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  width: 90%;
  background-color: #e8ebe2;
  border-radius: 10px;
  text-align: center;
}

.contact-contain {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.contact-info h3 {
  font-size: 2rem;
  color: #616052;
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding: 0;
  padding-top: 20px;
  gap: 10px;
  margin-bottom: 0;
  transition: color 0.3s ease;
}

.contact-info ul li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.contact-info a {
  text-decoration: none;
  color: #616052;
}

.contact-info ul li a:hover {
  color: #414039;
}

.contact-info ul li a i {
  font-size: 1.5rem;
}


/* ---------------------------------------
   Miscellaneous
---------------------------------------- */
.text p {
  text-align: center;
}

.penguin {
  margin: 0;
  padding: 0;
  filter: hue-rotate(-30deg); /* Changes the hue */
}


/* ---------------------------------------
   Responsive (Mobile)
---------------------------------------- */
@media (max-width: 500px) {
  .contact-info a .text {
    font-size: 0.8rem;
    display: none !important;
  }

  .penguin {
    width: auto;
    height: 10%;
    max-width: 100%;
    margin-top: -20px;
  }

  .contact-contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .contact-info ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
