/*Global Style*/
* {
  box-sizing: border-box; /* allows for better sizing calculation of m p b*/
  margin: 0; /* full screen effect*/
  padding: 0; /* removes padding for a cleaner look*/
  font-family: 'Poppins', sans-serif; /*font of the whole*/
}

:root{
  --black: #333;
  --dirty-green:#616052;
  --white:#ffffff;
}

body {
  /* min-height: 100vh; */
  background-image: url('res/background_img.png');
  background-size: cover; /* parallax */
  background-position: center; /* centered */
  background-attachment: fixed; /* fixed on the page when scrolling */
  color: var(--black); /*aesthetic*/

  /*Fade Transition*/
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

  /*Fade Transition*/
body.fade-out {
  opacity: 0;
}


/* Header & Navigation */
header{
  min-height: 70px; /* 70px */
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%; /* padding top-bot and padding left-right all at once*/
  background: var(--dirty-green);
  /*color: white;*/
  /*font-family: 'Poppins', sans-serif;*/
  position: sticky; /* Sticky in scrollbar*/
  top: 0; /*0 so its on top of the page*/
  z-index: 1000; /* Make sure that my Header is above all the contents*/
  width: 100%;
}

.logo { /*Kervin Andy Carlos*/
  font-size: 1rem;
  color: var(--white);
  letter-spacing: 2px;
  margin-right: auto;
  margin-left: 6px;
}


nav {
  transition: none;
  display: flex;
  gap: 15px;
  /*margin-left: auto;*/
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
}

nav a {
  text-decoration: none; /*removes the underline*/
  color: white;
  background: var(--dirty-green);
  box-shadow:  5px 5px 10px #525246,
             -5px -5px 10px #706e5e;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

nav a:hover {
  transform: scale(1.1);
  
  border-radius: 37px;
  background: #414039;
  box-shadow: inset 8px 8px 16px #35342e,
            inset -8px -8px 16px #4d4c44;
}

/* Hero Section (Home) */
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10vh;
}

.home-content{
  max-width: 900px;
  width: 100%;
  text-align: left;
  margin-left: 4vw;
}
.home-content p{
  font-size: clamp(16px, 2vw, 20px);
}

.home-content h1 {
  margin-bottom: 3px;
  
  font-size: clamp(35px, 2vw, 80px);
  font-weight: bold;
  text-align: left;
  color: var(--dirty-green);
  
}

.home-img img {
  width: 40vw;
  max-width: 400px;
  min-width: 150px;
  border-radius: 70%;
}

/* Social Icons */
.social-icons {
  margin-top: 15px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: black;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--dirty-green);
}

/* Typography */


/*h1 span {
  font-size: 1.3em;
  color: #829dc9;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 2px rgba(128,206,205,0);
}*/

#my-name { /*This is from https://easycodetools.com/tool/css-hover-effects-generator*/
  font-size: 1.3em;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  
  background: linear-gradient(77deg, #786896, #77C3D4, #829DC9);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  transition: background-position 0.5s ease-in-out;
}

/*This is from https://easycodetools.com/tool/css-hover-effects-generator*/
#my-name:hover {
  background-position: 100% 50%;
}

.home-content h2 {
  font-size: 19px;
  font-weight: 400;
  color: #555;
  margin-bottom: 10px;
}


.about {
  margin: 90px 15px;
}

.about h1 {
  font-size: clamp(43px, 2vw, 80px);
  font-weight: bold;
  text-align: center;
  color: var(--dirty-green);
  margin-bottom: 20px;
}
.about p{
  padding-right: 20px;
}

.hamburger {
  display: none;/*Hide the Hamburger Button */
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


  #vanta-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; /* behind everything */
  top: 0;
  left: 0;
}


@media (max-width: 768px) {

  
  .logo{
    font-size: 3.4vw;
  }

  .hamburger {
    display: block;
  }
  .hamburger:hover { /*hover animations*/
    transform: scale(1.2); /*makes it big a little*/
  }

  nav {
    display: none;
    flex-direction: column;
    background: var(--dirty-green);
    position: absolute; /*absolute + top combo*/
    max-height: 80vh; /*viewable height*/
    top: 70px;/*70px below*/
    right: 0; /*right sidebar*/
    width: auto; /*automatic width based on the contents*/
    padding: 10px 5px; /* padding of the nav ofcourse*/
    text-align: center; /*centered ofcourse*/
    border-bottom-left-radius: 10px; /* rounded corners*/
    border-bottom-right-radius: 10px;

    overflow-y: auto;/*make it scrollable*/
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: #aaa var(--dirty-green); /* Scroll thumb & track colors */
  }
  /* Show menu when toggled */
  nav.nav-active {
    display: flex; /*when button is clicked display none --> display flex*/
  }


  nav a{
    display: block;
    padding: 10px;
    font-size: 14px;
  }
}

/* Nav is always visible on larger screens */
@media (min-width: 769px) {
  nav {
    display: flex !important;
    position: static;
    flex-direction: row;
  }
}


